@charset "UTF-8";

body {
    background-color: dimgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h1 {
    color: rgb(43, 1, 59);
    background-color: gold;
}
h2 {
    color: red;
    background-color: black;

}
p {
    color: cyan;
    text-align: justify;
}